<div class="main__container">
  <div class="login-card">

    <main class="login-content">
      <span class="login-header">Login</span>
      <!-- login form -->

      <form #authform="ngForm" (ngSubmit)="login($event)" class="login-form">
        <input autofocus class="login-input" name="email" ngModel placeholder="Email" required type="email">
        <input class="login-input" minlength="6" name="password" ngModel placeholder="Password" required
               type="password">
        <input [class.btn-disabled]="!authform.form.valid" [disabled]="!authform.form.valid" class="login-btn"
               name="submit" type="submit"
               value="Login">
      </form>
      <div class="signup-link-wrapper">
        <span class="signup-notice">Don't have an account?</span>
        <a class="signup-link" routerLink="/signup">Sign up</a>
      </div>

    </main>

    <!-- linking to signup -->
    <aside class="login-aside">
      <div class="login-aside-overlay"></div>
      <h1 class="login-welcome-text">Welcome Back!</h1>
      <hr class="login-aside-hr">
    </aside>
  </div>
</div>


<app-error [message]="errorMessage"></app-error>
